@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}

@utility main-container {
  @apply mx-auto max-w-3xl pt-16 p-6  overflow-x-hidden;
}

@utility code-block {
  @apply inline-block rounded bg-gray-100 px-1 py-0.5 font-mono text-sm;
}

@utility link {
  @apply text-sky-700 hover:underline font-medium;
}
